<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/grish081bca" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/grish-shrestha-89315934a/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a href="mailto:grishshrestha2@gmail.com.com" target='_blank'>grishshrestha2@gmail.com.com </a>
        </div>
    </div>

    <div class="footer-credits text-center">
        <a href="https://www.linkedin.com/in/grish-shrestha-89315934a/" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built with Angular by Grish Shrestha</div>
        </a>
    </div>

</footer>
