<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>Hello! My name is</h1>
                </div>
                <div class='banner-title'>
                    <h2 class="text-capitalize">Grish Shrestha.</h2>
                    <h3 class="text-capitalize">Software developer</h3>
                </div>
                <div class='banner-description'>
                  <p class="mt-4">
                      I'm a <span class="underline">Full Stack Java Developer</span> passionate about building scalable and efficient software applications.
                      With hands-on experience in developing backend services using <span class="underline">Spring Frameworks</span> and creating interactive user interfaces with <span class="underline">Angular</span>,
                      I continuously strive to learn and grow as a developer. I'm enthusiastic about contributing to impactful projects, solving real-world problems, and being part of a collaborative team.
                  </p>
              </div>
            </div>
            <div class="div-btn-banner">
              <a
                  (click)="analyticsService.sendAnalyticEvent('click_send_mail', 'banner', 'email')"
                  href="mailto:grishshrestha2@gmail.com"
                  target="_blank"
                  class="main-btn text-capitalize">
                  get in touch
              </a>
          </div>

        </div>
    </div>
</section>
