<section class="section contact" id='contact'>
    <div class="container">
        <div class="section-box">
            <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="contact-pre-title big-subtitle">05. Contact Me</h3>
                <h4 class="e-font contact-title big-title">
                    Get in touch!
                </h4>
            </div>
            <p data-aos="fade-up" data-aos-duration="1000">
              I’m always open to discussing new projects, ideas, or opportunities to collaborate. Feel free to reach out through any of the platforms below — I’ll get back to you as soon as possible!
          </p>
          <ul class="contact-info-list" data-aos="fade-up" data-aos-duration="1000">
              <li><strong>Email:</strong> <a href="mailto:grishshrestha2@gmail.com">grishshrestha2@gmail.com</a></li>
              <li><strong>Phone:</strong> <a href="tel:+977 9865453089">+977 9865453089</a></li>
              <li><strong>Facebook:</strong> <a href="https://www.facebook.com/jason.sth.7" target="_blank"> <i class="fab fa-facebook"></i></a></li>
              <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/grish-shrestha-89315934a/" target="_blank"> <i class="fab fa-linkedin"></i></a></li>
              <li><strong>GitHub:</strong> <a href="https://github.com/grish081bca" target="_blank"> <i class="fab fa-github"></i></a></li>
          </ul>
            <!-- <div class="mt-5">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "contact", "email")' href="grishshrestha2@gmail.com" target="_blank" class="main-btn" data-aos="fade-up"
                    data-aos-duration="1000">
                    Say Hello
                </a>
            </div> -->
        </div>
    </div>
</section>
